html, body {
    height: 100%;
    background-color: /*rgba(255, 255, 255, 1.0);  rgba(255, 23, 15, 0.9); rgba(3, 176, 23, 0.9)*/ rgba(94, 183, 255, 0.9);

}

main {
}

.mainContain {
    margin: 125px 100px 0px 100px;
    text-align: center;
    background: /*rgba(255, 23, 15, 0.7);*/ rgba(255, 255, 255, 1.0);
    padding: 50px;
    border: 10px solid rgba(94, 183, 255, 0.9);
    box-shadow: 0 5px 15px rgba(255, 23, 15, .9);
}

.title {
    border: solid;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px;
    font-family: 'VT323';
    background-color: transparent;
    text-shadow: ;
    border-radius: 4px;
    border-color: white;
    text-shadow: 0rem 0.1rem 0.5rem #;
    background-color: rgba(94, 183, 255, 0.9);
    color: white;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.description {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.enter {
    font-family: 'VT323';
    font-size: 25px;
    padding: 15px 35px;
    vertical-align: middle;
    text-shadow: 0rem 0.1rem 0.5rem #;
    background-color: rgba(94, 183, 255, 0.9);
    color: white;
    border-radius: 4px;
}

.enter:hover {
    background-color: ;
    color: ;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

img {
    width: 700px;
    position: absolute;
    z-index: -1;
    border: 2px solid;
    margin-left: 250px;
}
