.loginMain {
    text-align: center;
}

.loginMain div {
    display: inline-block;
}

.loginBox {
    margin-top: 50px;
    padding: 100px;
    background: rgba(255, 255, 255, 1.0);
    border: 10px solid rgba(94, 183, 255, 0.9);
    box-shadow: 0 5px 15px rgba(255, 23, 15, .9);
}

.login {
    border: 5px solid green;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 50px;
}

.signup * {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.newAccount {
    margin-top: 10px;
    border: 5px solid green;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.createAccount {
    margin-top: 10px;
    margin-bottom: 10px;
}

.toDash, .createAccount {
    font-family: 'VT323';
    font-size: 15px;
    padding: 10px 20px;
    vertical-align: middle;
    /*text-shadow: 2px 1px white;*/
    background-color: rgba(94, 183, 255, 0.9);
    color: green;
    border-radius: 4px;
}
